#a {background-color: purple;height: 40px;}
#b {background-color: yellow;height: 40px;}
#c {background-color: blue;height: 40px;}
#d {background-color: yellow;height: 40px;}

#gridInGrid {background-color: red;height: 100px;}

#e {background-color: blue;height: 80px;}
#f {background-color: green;height: 80px;padding: 0;}

#g {background-color: purple;height: 40px;}
#h {background-color: yellow;height: 40px;}
#i {background-color: blue;height: 40px;}
#j {background-color: yellow;height: 40px;}

section {background-color: yellow;height: 100px;}

#k {background-color: green;height: 70px;}
#l {background-color: blue;height: 70px;}
